
main {
  font-family: sans-serif;
  max-width: 800px;
  width: 96%;
  margin: 6rem auto;
}
input {
  width: 300px;
  height: 20px;
  border: 1px solid rgb(22, 67, 216);
  border-radius: 8px;
}
button {
  background-color: white;
  font-size: 1rem;
  padding: 8px 14px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 18px;
  box-shadow: 2px 2px 8px;
  cursor: pointer;
  transition: all 250ms;
}
button:hover {
  background-color: black;
  color: white;
}
li {
  list-style: none;
}
.section-todos {
  width: 90%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2rem;
}
.add-todo-box {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.todos-box {
  margin: 4rem 0;
}

.todo-box {
  padding: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  width: 40%;
  border-radius: 8px;
  margin: 10px 0;
}
